<div class="container-fluid">
  <div class="row media">
    <div class="col-sm-2">
      <!-- <img src="{{ site.baseurl }}/assets/images/footer-logo-bampfa.png" class="mr-3 w-100"/> -->
      <a href="https://bampfa.org"><img src="{{ site.baseurl }}/assets/images/footer-logo-bampfa.png" class="mr-3 w-100"/></a>
    </div>
    <div class="col-sm-7 media-body">
      <h4 class="text-left blog-footer-title">TVTV: Alternative America Televised</h4>
      <p class="text-left mt-2">{{ site.description }}</p>
      <small class="text-left text-muted">This preservation project has been funded through a generous Humanities Collections and Reference Resources grant from the
        <strong>National Endowment for the Humanities</strong><br>
      © 2020 The Regents of the University of California. All rights reserved.<br>Images and videos © TVTV</small>
    </div>
    <div class="col-sm-3">
      <img src="{{ site.baseurl }}/assets/images/van.png" class="ml-3 w-100"/>
    </div>
  </div>
</div>
