.blog-header-logo {
  font-family: 'Permanent Marker', cursive; sans-serif;
  font-size: 2.25rem;
}

.blog-footer-title {
  font-family: 'Permanent Marker', cursive; sans-serif;
  font-size: 2.25rem;
}
